*{
	font-size: 18px;
	}
	
	.App {
	  text-align: center;
	}
	
	.App-logo {
	  height: 40vmin;
	  pointer-events: none;
	}
	
	@media (prefers-reduced-motion: no-preference) {
	  .App-logo {
		animation: App-logo-spin infinite 20s linear;
	  }
	}
	
	.App-header {
	  background-color: #282c34;
	  min-height: 18vh;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  font-size: calc(10px + 2vmin);
	  color: white;
	}
	
	.App-link {
	  color: #61dafb;
	}
	
	@keyframes App-logo-spin {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
	}
	
	.navbar-link .nav-link .navbar-nav .nav-item .navbar-dark {
		  color: rgba(255, 255, 255);
		  margin-left: 10px;
	}
	
	.form-div {
	  z-index: 1;
	  margin-top: -170px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: center;
	  width: 100%;
	}
	
	select {
	  -moz-appearance: none;
	  appearance: none;
	  -webkit-appearance: none;
	  width: 100%;
	  min-width:200px;
	  height: 36px;
	  float: none;
	  padding: 0 20px 0 5px;
	  margin: 0;
	  color: #555;
	  background: #fff url('../assets/theme/select-icon.svg') no-repeat; 
	  background-size: 12px 12px;
	  background-position: right 5px center;
	  border-radius: 5px;
	  border: 1px solid #ddd;
	  outline: 0;
	  -webkit-transition: .2s all ease-in-out;
	  -o-transition: .2s all ease-in-out;
	  transition: .2s all ease-in-out;
	}
	.search-button {
	  display: inline-block;
	  margin: 0;
	  padding: 0 15px;
	  background: #cca653;
	  color: #fff !important;
	  font-family: Inter, sans-serif;
	  font-size: 12px;
	  line-height: 36px;
	  font-weight: 700;
	  text-align: center;
	  text-shadow: none;
	  text-transform: uppercase;
	  text-decoration: none;
	  border: 0;
	  border-radius: 3px;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: .2s all linear;
	  -o-transition: .2s all linear;
	  transition: .2s all linear;
	  display: block;
	  width: 100%;
	}
	
	.o-search {
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		margin: 0;
		padding: 0;
	}
	
	.fieldset__wrapper {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  column-gap: 10px;
	}
	form {
	  display: flex;
	  column-gap: 10px
	}
	
	.navbar {
	  min-width: 100%;
	}
	.navbar button {
	  justify-self: flex-end;
	
	}
	
	.brands {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-wrap: wrap;
	  position: relative;
	  background-color: #fff;
	  padding: 1.2em;
	  border-bottom: ridge ;
	}
	
	.brands img{ 
	  width: 30px;
	  margin: 0.2em;
	}
	
	.offers {
	  display: flex;
	  flex-direction: column;
	}
	.offers header {
	  display: flex;
	  width: 100%;
	  justify-content: center;
	}
	
	.slide-show {
	  /* transform-origin: 0px 0px; */
	  /* transform: translate3d(-1280px, 0px, 0px); */
	  list-style-type: none;
	  
	  /* width: 4480px; */
	}
	.slide-show li {
	  display:inline;
	}
	
	/* -------------------------- */
	
	.tech-slideshow {
	  height: 200px;
	  max-width: 94%;
	  margin: 0 auto;
	  position: relative;
	  overflow: hidden;
	  transform: translate3d(0, 0, 0);
	}
	
	.tech-slideshow>div {
	  height: 200px;
	  width: 20526px;
	  background: url(../assets/img/default-slide.jpg);
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  transform: translate3d(0, 0, 0);
	}
	
	.tech-slideshow .mover-1 {
	  animation: moveSlideshow 400s linear infinite;
	}
	
	.tech-slideshow .mover-2 {
	  opacity: 0;
	  transition: opacity 0.5s ease-out;
	  background-position: 0 -200px;
	  animation: moveSlideshow 415s linear infinite;
	}
	
	.tech-slideshow:hover .mover-2 {
	  opacity: 1;
	}
	
	@keyframes moveSlideshow {
	  100% {
		transform: translateX(-66.6666%);
	  }
	}

	@media screen and (max-width:990px) {
		.fieldset__wrapper {
			flex-direction: column;
		}
		form {
			flex-direction: column;
			width: 80%;
		}
		.form-div {
			margin-top: 0;
		}
		main {
			overflow: hidden;
			max-width: 375px;
			height: 360px;
		}
	}